# Configurações do PyCharm
.idea/

# Ambiente virtual Python
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyc

# Temporários
*.log
*.tmp

# Sistema operacional
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env
.env.*